{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Connect Routes -- About Routes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Connect Routes -- Get your rides easily." />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        // function hideURLbar() {
        //     window.scrollTo(0, 1);
        // }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'home/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <!-- //Fonts -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}">
</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="about-layer">
            <header>
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4 d-lg-flex">
                        <div id="logo">
                            <h1><a href="{% url 'home' %}"><img src="{% static 'home/images/long.png' %}" width="140px"/></a></h1>
                        </div>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-2 ml-auto">
                            <li><a class="scroll" href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}" class="scroll">About</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Join As Driver <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                                <a href="#">Join As Driver <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul class="inner-ul">
                                    <li><a class="scroll" href="#">Google Play Store</a></li>
                                    <li><a href="#" class="scroll">Apple App Store</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'home' %}#contact" class="scroll">Contact</a></li>
                            <li><a href="{% url 'faq' %}" class="scroll">FAQs</a></li>

                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <div class="row">
                <div class="col-md-12 col-sm-12 other-side"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
    <section class="services py-5" id="services">
        <div class="container py-md-5">
            <div class="header pb-lg-3 pb-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">About Us</h3>
                <p class="text-left">Connect Routes is a ride sharing company seeking to make day-to-day commuting hassle free. With its headquarters in Lagos, Nigeria, Routes, an on-demand carpooling platform seamlessly connects passengers to drivers going in the same destination.
                    Routes also connects passengers to drivers going through their destination. All this is done via our mobile application intelligently designed to have a user-friendly interface. </p>
                <p class="text-left">Our mission is to constantly provide safe, affordable, timely and convenient rides for passengers for their daily commute while also empowering our drivers with a source of income and ensuring they operate with utmost professionalism.</p>
                <p class="text-left">At Routes, we believe in ease of transportation and constantly try to make this a reality for everyone on our platform.
                    We have an amazing team of bright minds who are obsessed with finding new ways to make navigating through Nigerian roads less challenging.</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="asap-lavi-footer-sec py-5">
            <div class="container py-lg-3">
                <div class="row">
                    <div class="col-lg-5 asap-w3pvt-footer-logo">
                        <!-- footer logo -->
                        <a class="navbar-brand" href="index.html"><img src="{% static 'home/images/longlogo.jpeg' %}" width="140px"/></a>
                        <!-- //footer logo -->
                    </div>
                    <!-- button -->
                    <div class="col-lg-5 asap-w3pvt-footer text-lg-right text-center mt-3">
                        <ul class="list-unstyled footer-nav-lavi">
                            <li>
                                <a href="{% url 'home' %}" class="scroll active">Home</a>
                            </li>
                            <li>
                                <a class="scroll" href="{% url 'home' %}#about">About Routes</a>
                            </li>
                            <li>
                                <a class="scroll" href="{% url 'faq' %}">FAQs</a>
                            </li>
                            <li>
                                <a class="scroll" href="{% url 'driver-reg' %}">Join as Driver</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //button -->
                    <div class="col-lg-2 mt-lg-0 mt-3">
                        <div class="button-asap-w3pvts mt-0 text-lg-right text-center">
                            <a href="{% url 'home' %}#contact" class="btn btn-sm thar-four scroll">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="row copy-right-sec mt-4 pt-lg-4 pt-3 text-lg-left text-center">
                    <!-- copyright -->
                    <p class="col-lg-8 copy-right-grids mt-lg-1">© 2020 Connect Routes. All Rights Reserved.</p>
                    <!-- //copyright -->
                    <!-- social icons -->
                    <div class="col-lg-4 asap-lavi-ocial-icons text-lg-right text-center mt-lg-0 mt-3">
                        <ul class="list-unstyled w3pvt-icons">
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //social icons -->
                </div>
                <div class="move-top text-right"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</body>
</html>
