{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Connect Routes -- Driver Registration</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Connect Routes -- Get your rides easily." />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'home/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <!-- //Fonts -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}">
</head>
<body>
    <div class="other-page-content">
        <header class="mb-sm-5">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4 d-lg-flex">
                    <div id="logo">
                        <h1><a href="{% url 'home' %}"><img src="{% static 'home/images/long.png' %}" width="140px"/></a></h1>
                    </div>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2 ml-auto">
                        <li class="active"><a class="other-links" href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}" class="scroll other-links">About Routes</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Join As Driver <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Join As Driver <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul class="inner-ul">
                                <li><a class="scroll" href="#">Google Play Store</a></li>
                                <li><a href="#" class="scroll">Apple App Store</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'home' %}#contact" class="scroll other-links">Contact</a></li>
                        <li><a href="{% url 'faq' %}" class="scroll other-links">FAQs</a></li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
    </div>
    <section class="contact py-5" id="contact">
        <div class="container pb-md-5">
            <!-- <div class="row">
                <div class="col-md-4 col-sm-12"><h1><a href="{% url 'home' %}"><img src="{% static 'home/images/longlogo.jpeg' %}" width="140px"/></a></h1></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div> -->
            <div class="header py-lg-5 pb-3 text-center">
                <h3 class="tittle mb-lg-5 mb-3 mt-5">Driver Registration</h3>
            </div>
            <div class="contact-form mx-auto text-left">
                <form name="contactform" id="contactform1" method="post" action="{% url 'driver-reg' %}">
                    {{ reg_form.as_p }}
                    {% csrf_token %}
                    <div class="col-lg-4 contact-page">
                        <div class="form-group">
                            <!-- <label>Submit *</label> -->
                            <button type="submit" class="btn btn-default">OTP Registration >></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer>
        <div class="asap-lavi-footer-sec py-5">
            <div class="container py-lg-3">
                <div class="row">
                    <div class="col-lg-5 asap-w3pvt-footer-logo">
                        <!-- footer logo -->
                        <a class="navbar-brand" href="index.html"><img src="{% static 'home/images/longlogo.jpeg' %}" width="140px"/></a>
                        <!-- //footer logo -->
                    </div>
                    <!-- button -->
                    <div class="col-lg-5 asap-w3pvt-footer text-lg-right text-center mt-3">
                        <ul class="list-unstyled footer-nav-lavi">
                            <li>
                                <a href="{% url 'home' %}" class="scroll active">Home</a>
                            </li>
                            <li>
                                <a class="scroll" href="{% url 'home' %}#about">About Routes</a>
                            </li>
                            <li>
                                <a class="scroll" href="{% url 'faq' %}">FAQs</a>
                            </li>
                            <li>
                                <a class="scroll" href="{% url 'driver-reg' %}">Join as Driver</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //button -->
                    <div class="col-lg-2 mt-lg-0 mt-3">
                        <div class="button-asap-w3pvts mt-0 text-lg-right text-center">
                            <a href="{% url 'home' %}#contact" class="btn btn-sm thar-four scroll">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="row copy-right-sec mt-4 pt-lg-4 pt-3 text-lg-left text-center">
                    <!-- copyright -->
                    <p class="col-lg-8 copy-right-grids mt-lg-1">© 2020 Connect Routes. All Rights Reserved.</p>
                    <!-- //copyright -->
                    <!-- social icons -->
                    <div class="col-lg-4 asap-lavi-ocial-icons text-lg-right text-center mt-lg-0 mt-3">
                        <ul class="list-unstyled w3pvt-icons">
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //social icons -->
                </div>
                <div class="move-top text-right"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</body>
</html>